{% extends 'store/main.html' %}
{%load static%}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
                    </div> 
                    <div id="shipping-info">
                        <hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
                        <div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="country..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
                    </div> 
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
                <!-- Set up a container element for the button -->
                <div id="paypal-button-container"></div>
                {% comment %} <button id="make-payment">Make Payment</button> {% endcomment %}
            </div>
        </div>

         <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190;Back to cart</a>
                </hr>
                <h3>Order Summary</h3>
                </hr>
                {% for item in items%}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
                    <div style="flex:1"><p>{{item.quantity}}</p></div>
                </div>
                {%endfor%}
                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
            </div>
        </div>
    </div>
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AUGAZBM2Lh2sLHuu1--MVuBW8G6gltlw9QwS0xmimRfN0TpJOTPlRsZs3lZ4bZx7vh-NLtlmB6-Wsxzs&currency=USD"></script>
<script>
    var total = '{{order.get_cart_total}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Style to button
        style : {
            color : 'blue',
            shape : 'rect',
        },
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // payment sent to backed
                submitFormData()
            });
        }

    }).render('#paypal-button-container');
</script>

{% comment %} if digital product add in cart adress from hidden {% endcomment %}
<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    console.log(total)
    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }
    {% comment %} user is login user info hidden {% endcomment %}
    if(user!= 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ' '
    }
    if (shipping == 'False' && user != 'AnonymousUser'){
        //Hide Entire from if user is logged in and shipping is false
        document.getElementById('form-wrapper').classList.add("hidden")
        //Show payment if logged in user wants to buy an item that does not require shiping
        document.getElementById('payment-info').classList.remove("hidden");
    }
    var form =document.getElementById('form')
    form.addEventListener('submit',function(e){
        e.preventDefault()
        console.log('Form Submitted.....')
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })
    /*
    document.getElementById('make-payment').addEventListener('click',function(e){
        submitFormData()
    })*/
    function submitFormData(){
        console.log("Payment Button Clicked....")

        var userFormData = {
            'name' : null,
            'email' : null,
            'total' : total
        }

        var shippingInfo = {
            'address' : null,
            'city' : null,
            'state' : null,
            'country' : null,
            'zipcode' : null
        }
        if(shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.country = form.country.value
            shippingInfo.zipcode = form.zipcode.value
        }
        if (user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        console.log('Shipping Info:', shippingInfo)
        console.log('User Info:', userFormData)

        var url = '/process_order/'
        fetch(url, {
            method: "POST",
            headers: {
                'Content-Type': 'application/Json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
        })
        // response to json
        .then((response) => {
            return response.json()
        })
        // print backed response on console
        .then((data) => {
            console.log("Success:", data);
            alert('Transaction Complated');

            //after Transaction complted cookies will be clear.
            cart = {}
            document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"

            window.location.href = "{% url 'store'%}"
        })
    }

    
</script>

{% endblock content%}